@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dededd;
    font-family: "Comfortaa", sans-serif;
}

h1 {
    margin: 0px;
    padding: 0px;
}
.app {
    height: 800px;
    width: 1200px;
    display: flex;
    border-radius: 16px;
    background-color: #252522;
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 784px; 
    width: 234px;
    margin: 8px;
    background-color: #1e1e1c;
    border-radius: 8px;
    font-size: 24px;
}

.sidebarCategory {
    height: 30px;

}

.navTop {
    height: 32px;
    width: 946;
    margin: 8px;
}

.categoryHeadline{
    color: #0a84ff;
    font-size: 40px;
    margin-bottom: 16px;
}
.taskList {
    height: 744px;
    width: 946px;
    margin: 8px;
}

.taskLine {
    display: flex;
    align-items: center;
    height: 32px;

}

.inputLine {
    height: 32px;
    display: flex;
    align-items: center;
}

.taskCheckbox {
    margin-right: 16px;
}