body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dededd;

}

h1 {
    margin: 0px;
    padding: 0px;
}
.app {
    height: 800px;
    width: 1200px;
    display: flex;
    border-radius: 16px;
    background-color: #252522;
}

.sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 784px; 
    width: 234px;
    margin: 8px;
    background-color: #1e1e1c;
    border-radius: 8px;
}

.sidebarCategory {
    height: 30px;

}

.navTop {
    height: 32px;
    width: 946;
    margin: 8px;
}

.categoryHeadline{
    color: #0a84ff;
    font-size: 32px;
}
.taskList {
    height: 744px;
    width: 946px;
    margin: 8px;
}